@model IEnumerable<Webshop.Shared.Models.ViewModel.ProductModels.ProductCategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="AddProductCategory">Add New Product Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProductCategory", new { id = item.Id }) |
                @Html.ActionLink("Details", "ProductDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteProductCategory", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
