@model IEnumerable<Webshop.Shared.Models.ViewModel.OrderModels.OrderViewModel>

@{
    ViewData["Title"] = "MyOrders";
}

<h3>My Orders</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.ActionLink("Details", "Order", new { id = item.Id }) |
                    @Html.ActionLink("Cancel", "CancelOrder", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
